.example-spacer {
    flex: 1 1 auto;

  }

  /* Declaramos con palabra reservada MEDIA*/

  @media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
      background-color: rgb(228, 25, 58);
    }
     
    #menuInicio{
      display: none;
    }

    #menuProducto{
      display: none;
    }
  
}

  @media (min-width: 700px){
    mat-toolbar{
      background-color: rgb(53, 10, 207);
    }
  
  #menuSecciones{
     display: none;
  }
  }