/* Estilo general para el footer */
.footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 40px 0; /* Espaciado superior e inferior */
    width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
    position: relative;
  }
  
  .footer h5 {
    color: #f39c12; /* Título en color dorado */
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .footer p {
    font-size: 14px;
    color: #b0b0b0; /* Texto gris claro */
  }
  
  .footer .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .social-icons li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer .social-icons a {
    color: #fff; /* Color blanco para los íconos */
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .footer .social-icons a:hover {
    color: #f39c12; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de hover */
  }
  
  .footer .text-center p {
    margin-top: 20px;
    font-size: 14px;
    color: #b0b0b0; /* Texto gris claro */
  }
  
  .footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    padding: 20px;
    min-width: 250px; /* Asegura que las columnas tengan un tamaño mínimo */
  }
  
  .text-center {
    margin-top: 30px;
  }
  
  /* Estilos de responsividad para dispositivos móviles */
  @media (max-width: 768px) {
    .footer .row {
      text-align: center;
      flex-direction: column;
    }
  
    .footer .col {
      margin-bottom: 20px;
    }
  
    .footer .social-icons li {
      margin-right: 10px;
    }
  }
  /*estilo contacto*/
  
  

  