.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente el contenido */
    text-align: center;
    padding: 2rem; /* Espacio alrededor del contenedor */
    background-color: #f9f9f9; /* Fondo suave */
    border: 1px solid #3fc7df; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h1 {    
    padding: 1rem;
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    color: #333; /* Color de texto más oscuro */
    margin: 0; /* Elimina el margen por defecto */
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
}