<div class="container">
  <div class="row">
    <h3>Inicio</h3>


      <div *ngFor="let i of info" class="col-lg-4" >
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{i.nombre}}</mat-card-title>
            <mat-card-subtitle>{{i.id}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{i.imagen}}" alt="" width="100%">
          <mat-card-content>
            <p>
              {{i.edad}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
        
      </div>
    </div>
</div>