<h1 class="contacta">CONTACTA CON NOSOTROS</h1>
<h2 class="conta2">Queremos escucharte</h2>
<form class="contact-form">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Nombre" required>
        <label for="floatingName">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" required>
        <label for="floatingEmail">Correo electrónico</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Deja un mensaje aquí" id="floatingMessage" style="height: 100px" required></textarea>
        <label for="floatingMessage">Mensaje</label>
    </div>
    <button type="submit" class="btn-submit">Enviar</button>
</form>

  

  